<<<<<<< HEAD
<h1>Register</h1>
<form method="post" action="/register">
  <div>
    <label>Username:</label>
    <input type="text" name="username" required>
  </div>
  <div>
    <label>Email:</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" required>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
=======
<div>
<div class="flex-column centered"><h1>Create Account</h1></div>

{{!-- Email create --}}
<form class="form login-form">
  <div class="form-group">
    <label for="email-create">Enter your email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  {{!-- Name Create --}}
  <div class="form-group">
    <label for="user-create">Enter your name:</label>
    <input class="form-input" type="text" id="name-register"/>
  </div>
  {{!-- Password Create --}}
  <div class="form-group">
    <label for="password-create">Enter your password:</label>
    <input class="passwordFormDefault" type="password" id="password-register-a" placeholder=""/>
  </div>
  <div class="form-group">
    <label for="password-create">Enter your password again:</label>
    <input class="passwordFormDefault" type="password" id="password-register-b" />
  </div>
{{!-- Submit button --}}
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="submitbutton">Create</button>
  </div>
</form>
</div>
<script src="/js/register.js"></script>
>>>>>>> 0488c9dab69f35323710a7e99decaf5650360419
