<div>
<div class="flex-column centered"><h1>Create Account</h1></div>

{{!-- Email create --}}
<form class="form login-form">
  <div class="form-group">
    <label for="email-create">Enter your email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  {{!-- Password Create --}}
  <div class="form-group">
    <label for="password-create">Enter your password:</label>
    <input class="form-input" type="password" id="password-register-a" />
  </div>
  <div class="form-group">
    <label for="password-create">Enter your password again:</label>
    <input class="form-input" type="password" id="password-register-b" />
  </div>
{{!-- Submit button --}}
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
</div>
<script src="../public/js/register.js"></script>
