<h2>Create Account</h2>


<h1>Sign up</h1>
<form action="/signup" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="new-password">Password</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Sign up</button>
</form>



{{!-- Email create --}}
<form class="form login-form">
  <div class="form-group">
    <label for="email-create">Enter your email:</label>
    <input class="form-input" type="text" id="email-create" />
  </div>
  {{!-- Password Create --}}
  <div class="form-group">
    <label for="password-create">Enter your password:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <label for="password-create">Enter your password again:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
{{!-- Submit button --}}
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<script src="/js/login.js"></script>
