<h1>Employee Login</h1>
<form method="post" action="/employeelogin">
  <div>
    <label>Email:</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" required>
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>




{{#if loggedIn}}
<a href='https://calendar.google.com/calendar/embed?src=9e4ca909fa822737d9a5164417b2493280675171410cf7235b5dbfd68f887e6b%40group.calendar.google.com&ctz=America%2FDenver'>Click for Schedule</a>
{{/if}}