<h1>Welcome to FresHair</h1>

<p>Content of your homepage goes here.</p>
<ul>
    <li>login, logout tracking and sessions</li>
    <li>review adding and diplaying </li>
    <li>adding account creation to database</li>
    <li> </li>
    <li> </li>
    <li> </li>
</ul>
