<div style="text-align: center;">
  <h1>Welcome to FresHair</h1>


<img src="../images/salon.jpg" class="img-fluid" alt="...">


  <p>Here at FresHair we welcome the opportunity to impress you with our amazingly talented stylist's.</p>
  <a href="/stylist">To meet these great stylist's click here!!</a>
</div>


