<div style="text-align: center;">
  <h1>Welcome to FresHair</h1>


<img src="../images/salon.jpg" id="home-image" class="img-fluid" alt="Image of the inside of a salon">

<p>We aim for perfection with the services we provide and the luxury products that we sell. We offer Haircuts, Color, Brow Waxing, Make-up Application, Special Occasion Hair, Hair Extensions, Sewn In Extensions and the Brazilian Blowout.</p>
  <p>Your stylist is the only one who is knowledgeable enough to know which shampoo, conditioner and styling products are right for your hair texture, density, life style and desired result. When you buy in a drug store, you’re taking a guess and more than likely spending money on items that won’t give you the results you need. We know our brands and guarantee you will love the hair care Products we suggest.</p>
  <p>Here at FresHair we welcome the opportunity to impress you with our amazingly talented stylists.</p>
  <a href="/stylist">To meet these great stylist's click here!!</a>

  <h3>Cancellation Policy</h3>
  <p>All Appointments must be cancelled 48 hours in advance or you will be charged 1/2 the cost of the service missed. </p>
</div>


