<div style="text-align:center;">
    <h1>Hours of Operation</h1>
    <p>Monday - Friday</p>
    <p>8am - 5 pm</p>
    <p>Saturday</p>
    <p>10 am - 2 pm</p>
    <p>Sunday</p>
    <p>Closed</p>
</div>