<h2>Login</h2>


<form action="/api/users" method="post">
    <section>
        <label for="email">Email</label>
        <input name="email" type="text" id="email-login" autocomplete="email" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="password-login" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>

</form>

<script src="/js/login.js"></script>
