{{!-- Card container --}}
<div class="profileCard container">
    {{!-- Header Section --}}
    <div class="profileCardHeader centered row pt-1">
        <h2>SERVICES PROVIDED</h2>
    </div>
    {{!-- Body Section --}}
    <div class="profileCardBody centered row">
        <div class="profileCardMain flexleft col-sm m-5">
        <b>Signature Cut: </b>Cost:<i>$85+, </i>Shampoo, Haircut & Blow Dry.<br>
        <b>Spa Cut: </b>Cost:<i>$55+, </i>Deep Treatment or Shine Treatment, Scalp Massage, Haircut & Blow Dry.<br>
        <b>Luxury Cut: </b>Cost:<i>$135+, </i>Shampoo, Custom Deep Treatment, Scalp Massage, Glow Service, Haircut & Blow Dry.<br>
        <b>Dry Cut: </b>Cost:<i>$45-$55</i><br>
        <b>Clipper/Barber Cut: </b>Cost: <i>$35-$55</i><br>
        <b>Children's Cut (12 & under): </b>Cost: <i>$25-$35</i><br>
        </div>
        <div class="profileCardAside col-sm">
            {{!-- If we add profile images we put them here. --}}
        </div>
    </div>
</div>

{{!-- Card container --}}
<div class="profileCard container">
    {{!-- Header Section --}}
    <div class="profileCardHeader centered row pt-1">
        <h2>COLOR SERVICES</h2>
    </div>
    {{!-- Body Section --}}
    <div class="profileCardBody centered row">
        <div class="profileCardMain flexleft col-sm m-5">
        <b>Color Touch Up: </b>Cost: <i>$130+</i><br>
        <b>All Over Color: </b>Cost: <i>$155-$200</i><br>
        <b>Foils: </b>Cost: <i>$165-$225</i><br>
        <b>Platinum Card: </b>Cost: <i>$275+</i><br>
        <b>Fashion Colors/Split Dye: </b>Cost: <i>$275+</i><br>
        <b>Color Touch-up & Foils: </b>Cost: <i>$175-$225</i><br>
        <b>Balayage/Foilyage: </b>Cost: <i>$200-$285</i><br>
        <b>Color Touch Up with Balayage: </b>Cost: <i>$215-$300</i><br>
        <b>Toner: </b>Cost: <i>$85-$95</i><br>
        <b>Glow Service: </b>Cost: <i>$50</i><br>
        </div>
        <div class="profileCardAside col-sm">
            {{!-- If we add profile images we put them here. --}}
        </div>
    </div>
</div>