<div style="text-align:center;">
<h1>Services Provided</h1>
<p>SIGNATURE CUT:
Shampoo, Haircut & Blow Dry $55+</p>
<p>SPA CUT:
Shampoo, Customized
Deep Treatment or Shine Treatment, Scalp Massage, Haircut & Blow Dry $85+
</p>
<p>LUXURY CUT:
Shampoo, Custom Deep Treatment, Scalp Massage, Glow Service, Haircut & Blow Dry $135+
</p>
<p>DRY CUT
$45-55</p>
<p>CLIPPER/BARBER CUT
$35-55</p>
<p>CHILDREN'S CUT (12 & under)
$25-35</p>
<h2>COLOR SERVICES</h2>
<p>Color Touch Up $130+</p>
<p>All Over Color $155-200</p>
<p>Foils $165-225</p>
<p>Platinum Card $275+</p>
<p>Fashion Colors/Split Dye $275+</p>
<p>Color Touch-up & Foils $175-225</p>
<p>Balayage/Foilyage $200-285</p>
<p>Color Touch Up with Balayage $215-300</p>
<p>Toner $85-95</p>
<p>Glow Service $50</p>
</div>