{{!-- Card container --}}
<div class="profileCard container">
    {{!-- Header Section --}}
    <div class="profileCardHeader row">
        <h2>{{customer.username}}</h2>
    </div>
    {{!-- Body Section --}}
    <div class="profileCardBody row">
        <div class="profileCardMain col-sm m-5">
        <b>Name: </b>{{customer.name}}<br>
        <b>E-Mail: </b>{{customer.email}}<br>
        </div>
        <div class="profileCardAside col-sm">
            {{!-- If we add profile images we put them here. --}}
        </div>
    </div>
</div>