<h2>Reviews</h2>
<br>
{{#each reviews as |review|}}
<div class="container border">
  <div class="flex-row">
    <img src="../../images/logo.png" alt="Avatar" class="circle">
    <div>
      <t class="name">{{review.employee.name}}</t>
      <br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="flex-column">
    <br>
    <span class="card-header ml-5">Great service!</span>
    <div class="card-content ml-3">
      {{review.review}}
      <br>
      <br>
    </div>
    <div class="flex-row">
      <img src="../../images/logo.png" alt="Avatar" class="circle ml-5">
      <div>
        <t class="name">{{review.customer.username}}</t>
        <br>
        Verified Customer
      </div>
    </div>
  </div>
  <br>
</div>
{{/each}}
