<div style="text-align: center;">
  <h1>Meet our Stylists!!!</h1>
  <img src="../images/stylist logo.jpg">
</div>

<div class="position-relative">
  <div class="position-absolute top-0 start-0"> <img src="../images/anna_banana.webp">
  <p>Anna Banana</p>
  <p>Email: <a href="mailto:hay@gmail.com">hay@gmail.com</a> </p>
   </div>
  <div class="position-absolute top-0 start-50 translate-middle-x"><img src="../images/april_betts.wepb">
    <p>April Betts</p>
    <p>Email: <a href="abett6489@gmail.com"></a> </p>
  </div>
  <div class="position-absolute top-0 end-0"> <img src="../images/breanne_hollister.wepb">
<p>Breanne Hollister</p>
<p> Email: <a href="bholla@yahoo.com"></a> </p>
  </div>
  <div class="position-absolute top-50 start-0 translate-middle-y"> <img src="../images/chadd_shalehen.jpg">
<p>Chadd Shalehen</p>
<p>Email:<a href="chaddd@hotmail.com"></a> </p>
  </div>
  <div class="position-absolute top-50 start-50 translate-middle"> <img src="../images/clarita_marcel.wepb">
<p>Clarita Marcel</p>
<p>Email:<a href="clarclar@aol.com"></a> </p>
  </div>
  <div class="position-absolute top-50 end-0 translate-middle-y"> <img src="../images/hayley_tomas.wepb">
<p>Hayley Tomas</p>
<p>Email:<a href="hay@gmail.com"></a> </p>
  </div>
  <div class="position-absolute bottom-0 start-0"> <img src="../images/ozzy_parris.jpg">
<p>Ozzy Parris</p>
<p>Email:<a href="ozzyp@yahoo.com"></a> </p>
  </div>
  <div class="position-absolute bottom-0 start-50 translate-middle-x"> <img src="../images/tiffany_giles.webp">
<p>Tiffany Giles</p>
<p>Email:<a href="tdizzle@gmail.com"></a> </p>
  </div>
  <div class="position-absolute bottom-0 end-0"> <img src="../images/tom_petty.jpg">

  </div>
</div>