<div style="text-align: center;">
  <h1>Meet our Stylists!!!</h1>
  <img src="../images/stylist logo.jpg">
</div>

{{!-- <div class="position-relative"> --}}

<div class="stylist-container">
  {{#each employees as |employee|}}
  <div class="stylist-card">
    <img src={{employee.photo}} class="stylist-photo" alt={{employee.name}}+" headshot">
    <p class="name">{{employee.name}}</p>
    <p class="email">{{employee.email}}</p>
  </div>
  {{/each}}
</div>
  
