<div style="text-align: center;">
  <h1>Meet our Stylists!!!</h1>
  <img src="../images/stylist logo.jpg">
</div>

<div class="position-relative">
  <div class="position-absolute top-0 start-0"> <img src="../images/anna_banana.jpg">
  <p>Anna Banana</p>
  <p>Email: <a href="mailto:shopbanana@msn.com">shopbanana@msn.com</a> </p>
   </div>
  <div class="position-absolute top-0 start-50 translate-middle-x"><img src="../images/april_betts.jpg">
    <p>April Betts</p>
    <p>Email: <a href="mailto:abett6489@gmail.com">abett6489@gmail.com</a> </p>
  </div>
  <div class="position-absolute top-0 end-0"> <img src="../images/breanne_hollister.jpg">
<p>Breanne Hollister</p>
<p> Email: <a href="mailto:bholla@yahoo.com">bholla@yahoo.com</a> </p>
  </div>
  <div class="position-absolute top-50 start-0 translate-middle-y"> <img src="../images/chadd_shalehen.jpg">
<p>Chadd Shalehen</p>
<p>Email:<a href="mailto:chaddd@hotmail.com">chaddd@hotmail.com</a> </p>
  </div>
  <div class="position-absolute top-50 start-50 translate-middle"> <img src="../images/clarita_marcel.jpg">
<p>Clarita Marcel</p>
<p>Email:<a href="mailto:clarclar@aol.com">clarclar@aol.com</a> </p>
  </div>
  <div class="position-absolute top-50 end-0 translate-middle-y"> <img src="../images/hayley_tomaso.jpg">
<p>Hayley Tomaso</p>
<p>Email:<a href="mailto:hay@gmail.com">hay@gmail.com</a> </p>
  </div>
  <div class="position-absolute bottom-0 start-0"> <img src="../images/ozzy_parris.jpg">
<p>Ozzy Parris</p>
<p>Email:<a href="mailto:ozzyp@yahoo.com">ozzyp@yahoo.com</a> </p>
  </div>
  <div class="position-absolute bottom-0 start-50 translate-middle-x"><img src="../images/tiffany_giles.jpeg">
<p>Tiffany Giles</p>
<p>Email:<a href="mailto:tdizzle@gmail.com">tdizzle@gmail.com</a> </p>
  </div>
  <div class="position-absolute bottom-0 end-0"> <img src="../images/tom_petty.jpg">
  <p>Tom Petty</p>
  <p> Email: <a href="mailto:tpet1324@yahoo.com">tpet1324@yahoo.com</a> </p>
  </div>
</div>