body{
background-color: beige;
}

.banner {
    background-color: rgb(228, 212, 183) !important;
    background-image: url(../images/Salonbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height:15vh;
}
header{
    display: flex;
    flex-direction: column;
}

#smallScreenButton{
    display: none;
}

a {
    text-decoration: none !important;
}
nav {
    background: rgb(207,201,176);
background: linear-gradient(90deg, rgba(207,201,176,1) 0%, rgba(182,175,146,1) 49%, rgba(207,201,176,1) 100%);
    width: 100%;
    padding: 2px;
    flex-shrink: 0;
    z-index: 2;
}
aside {
    z-index: 0;
}
main{
    flex-grow: 1;
    z-index: 0;
}

#home-image {
    width: 100%;
}

.unadornedAnchor {
    text-decoration: none !important;
    color:black;
}
a:hover{
    color:rgb(15, 15, 15)
}
.centered {
    width: 100%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.pl-5{
    padding-left: 15px;
}
.mb-5{
    padding-bottom: 20px;
}
.mt-5{
    margin-top: 20px;
}

.navbutton{
    width:150px;
    height:35px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #857e64;
    border-right: 1px solid #857e64;
    color:#857e64;
    vertical-align: middle;
    font-weight: 200;
    font-size: 25px;
    padding: 2px 0;
}
.logbutton{
    display: block;
    width:50px;
    height:35px;
    border: 1px solid rgb(100, 93, 70);
    background: rgb(203,196,170);
background: linear-gradient(175deg, rgba(203,196,170,1) 0%, rgba(164,157,131,1) 49%, rgba(133,126,100,1) 100%);
}
.yarr {
    background-color: white;
    color:black;
    border: 1px solid black;
    margin: 20px;
    width: 120px;
    height: 600px;
}
.mainsection{
    width: 80%;
}
.navigation{
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}
#logo{
    justify-content: center;
    padding:15px;
}
#logocard{
    background-color: rgb(228, 218, 133);
    padding: 10px;
    border-radius: 25px;
}

@media screen and (max-width:1700px){
    #logo {
        padding-top:5px
    }
    nav {
        margin-top: 2px;
    }
    .mainsection{
        width: 75%;
    }
}
/* Adjustments for screens up to 768px wide */
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 2px;
        margin-top: 10px;
        padding-top: 0;
    }
    .yarr{
        display: none;
    }
    #logo{
        margin: 0;
        padding-top: 10px;
    }
    #logocard{
        padding: 5px;
        margin:0px;
    }
  }
  
  /* Adjustments for screens up to 480px wide */
  @media screen and (max-width: 480px) {
    nav {
        margin-top: 15px;
    }
    #logo {
        padding-top: 15px;
    }
    #wideScreenButtons{
        display: none;
    }
    #smallScreenButton{
        display:block;
    }
    
    .navbutton {
      width: 100px;
      height: 25px;
      font-size: 0.8rem;
    }
    .logbutton {
      width: 35px;
      height: 25px;
      font-size: 0.7rem;
    }
    .yarr {
      width: 95%;
      margin: 10px auto;
    }
    .mainsection {
      width: 95%;
      margin: 10px auto;
    }
  }
  
  /* Adjustments for screens up to 360px wide */
  @media screen and (max-width: 360px) {
    nav {
        margin-top: 20px;
    }
    .banner {
      border-bottom: 0;
    }
    .navbutton {
      width: 90px;
      height: 20px;
      font-size: 0.7rem;
    }
    .logbutton {
      width: 30px;
      height: 20px;
      font-size: 0.6rem;
    }
  }
body{
background-color: beige;
}

.banner {
    background-color: rgb(228, 212, 183) !important;
    background-image: url(../images/Salonbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height:15vh;
}
header{
    display: flex;
    flex-direction: column;
}

#smallScreenButton{
    display: none;
}

a {
    text-decoration: none !important;
}
nav {
    background: rgb(207,201,176);
background: linear-gradient(90deg, rgba(207,201,176,1) 0%, rgba(182,175,146,1) 49%, rgba(207,201,176,1) 100%);
    width: 100%;
    padding: 2px;
    flex-shrink: 0;
    z-index: 2;
}
aside {
    z-index: 0;
}
main{
    flex-grow: 1;
    z-index: 0;
}

.unadornedAnchor {
    text-decoration: none !important;
    color:black;
}
a:hover{
    color:rgb(15, 15, 15)
}
.centered {
    width: 100%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pl-5{
    padding-left: 15px;
}
.pt-5{
    padding-top: 30px;
}
.pl-5{
    margin-left: 200px;
}
.mb-5{
    padding-bottom: 20px;
}
.mt-5{
    margin-top: 20px;
}

.navbutton{
    width:200px;
    height:35px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #857e64;
    border-right: 1px solid #857e64;
    color:#857e64;
    vertical-align: middle;
    font-weight: 200;
    font-size: 25px;
    padding: 2px 0;
}
.logbutton{
    display: block;
    width:50px;
    height:35px;
    border: 1px solid rgb(100, 93, 70);
    background: rgb(203,196,170);
background: linear-gradient(175deg, rgba(203,196,170,1) 0%, rgba(164,157,131,1) 49%, rgba(133,126,100,1) 100%);
}
.yarr {
    background-color: white;
    color:black;
    border: 1px solid black;
    margin: 20px;
    width: 120px;
    height: 600px;
}
.mainsection{
    width: 80%;

}
.navigation{
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}
#logo{
    justify-content: center;
    padding:15px;
}
#logocard{
    background-color: rgb(228, 218, 133);
    padding: 10px;
    border-radius: 25px;
}
.border{
    border-radius: 0.3rem !important;
    border: 1px solid black !important;
}

/*------------------------------*/

.circle{
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px !important;
    border: 1px solid black !important;
    /* background-color: blue !important; */
    margin-bottom: 20px;
    margin-right: 7px;
}
.name{
    font-size: 2.0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    vertical-align: top;
}
.checked {
    color: orange;
  }
.card-header{
    font-weight: 700;
    font-size: 1.5rem;
}
.card-content{
    font-weight: 400;
    font-size: 1.2rem;
}
.card-centered{
    margin-top: 5px;
    margin-bottom: -15px;
    padding-left: 50px;
}
.d-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.d-flexleft{
    display: flex;
    justify-content: left;
    padding: 10px; 
}
.flexleft {
    justify-content: start;
    align-content: start;
    text-align: left;
}

.passwordFormDefault{
    background-color: rgb(248, 248, 248);
    width:80%;
    height: 30px;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid black;
}
.passwordFormActive{
    background-color: rgb(221, 21, 21);
    width:80%;
    height: 30px;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid black;
}

.error {
    border-color: red !important;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.background-grey {
    background-color: #a0a0a0;
}
.background-white{
    background-color: #FFFFFF;
}
.thumbnail {
    width: 50px; 
    height: 50px; 
}
.thumbnailier{
    width: 20px;
    height: 20px;
}
.card {
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Add some space between cards */
  }
  
  .card-header,
  .card-body,
  .card-footer {
    background-color: #dddbd2  ; /* Color scheme for header, body, and footer */
    padding: 10px; /* Add padding to the header, body, and footer */
  }
  .card-header-but-not-blue{
    background-color: #c2bfae ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-footer {
    background-color: #868474; /* Different background color for the footer */
    height: 30px; /* Adjust the height of the footer */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .card-header .card-title,
  .card-footer .card-subtitle {
    margin: 0; /* Remove margin for the header title and footer subtitle */
  }
  
  .card-header .card-title {
    text-align: left; /* Align the header title to the left */
  }
  
  .card-footer {
    display: flex;
    align-items: right;
    justify-content: right;
  }
  .card-footer img{
    margin-right: 15px;
  }
  
.profileCard{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 70px;
}
.profileCardHeader{
    background-color: #c2bfae;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
}
.profileCardBody{
    background-color: #dddbd2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contentCard{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 70px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
}
.contentCardHeader{
    background-color: #c2bfae;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
}
.contentCardBody{
    background-color: #dddbd2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex; 
    flex-direction: row;
}
.contentCardMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center-align the text within the container */
}

.contentCardMain a {
    margin-top: 10px; /* Add some spacing between the paragraph and the anchor */
}
.contentCardAside {
    align-items: flex-end; 
    text-align: right; 
}
.contentCardAsideImage {
    width: 100%;
    height: auto;
    max-height: 100%; /* Limit the height to the container's height */
    object-fit: contain; /* Maintain the aspect ratio and fit inside the square */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}




@media screen and (max-width:1700px){
    #logo {
        padding-top:5px
    }
    nav {
        margin-top: 2px;
    }
    .mainsection{
        width: 75%;
    }
}
/* Adjustments for screens up to 768px wide */
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 2px;
        margin-top: 10px;
        padding-top: 0;
    }
    .yarr{
        display: none;
    }
    #logo{
        margin: 0;
        padding-top: 10px;
    }
    #logocard{
        padding: 5px;
        margin:0px;
    }
  }
  
  /* Adjustments for screens up to 480px wide */
  @media screen and (max-width: 480px) {
    nav {
        margin-top: 15px;
    }
    #logo {
        padding-top: 15px;
    }
    #wideScreenButtons{
        display: none;
    }
    #smallScreenButton{
        display:block;
    }
    
    .navbutton {
      width: 100px;
      height: 25px;
      font-size: 0.8rem;
    }
    .logbutton {
      width: 35px;
      height: 25px;
      font-size: 0.7rem;
    }
    .yarr {
      width: 95%;
      margin: 10px auto;
    }
    .mainsection {
      width: 95%;
      margin: 10px auto;
    }
  }
  
  /* Adjustments for screens up to 360px wide */
  @media screen and (max-width: 360px) {
    nav {
        margin-top: 20px;
    }
    .banner {
      border-bottom: 0;
    }
    .navbutton {
      width: 90px;
      height: 20px;
      font-size: 0.7rem;
    }
    .logbutton {
      width: 30px;
      height: 20px;
      font-size: 0.6rem;
    }
  }